.pre {
    .bg {
        width: 100%;
        display: block;
    }
    header {
        position: relative;
        @include px2rem(height, 124);
        .count-down {
            position: absolute;
            @include px2rem(left, 76);
            .module {
                float: left;
                color: #fff;
                text-align: center;
            }
            span {
                &.number {
                    color: #4e4e4e;
                    @include px2px(font-size, 52);
                    margin: 0 px2rem(3);
                    padding: 0 px2rem(4);
                    background-color: #fff;
                    @include border-radius(px2rem(3));
                }
                &.sign {
                    display: inline-block;
                    padding: px2rem(12) 0;
                }
                &.unit {
                    display: inline-block;
                    @include px2rem(margin-top, 8);
                    @include px2px(font-size, 22);
                }
            }
        }
    }
}
