.pre {
    header {
        position: relative;
        .bg {
            width: 100%;
            display: block;
        }
        .count-down {
            &-title {
                position: absolute;
                color: #fff;
                @include px2px(font-size, 25);
                @include px2rem(top, 375);
                @include px2rem(left, 76);
            }
            &-content {
                position: absolute;
                color: #fff;
                @include px2rem(top, 409);
                @include px2rem(left, 76);
            }
        }
    }
}
