/* video module style */
.video {
    background-color: transparent;

    .video-t {
        margin-bottom: px2rem(35);
        text-align: center;
        img {
            @include px2rem(width, 348);
            vertical-align: top;
        }
    }

    .video-ls {
        margin: 0;
        padding: 0;
        list-style: none;
        @include display-flex(flex);
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        @include align-items(flex-start);
    }

    .video-i {
        margin-bottom: px2rem(20);
        @include px2rem(width, 226);
        @include px2rem(height, 294);
        border: 1px solid #ffcc00;
        background-color: #ffba00;
    }

    .video-play {
        overflow: hidden;
        background-color: #fff;
        text-align: center;
        video {
            margin: 0 auto;
            @include px2rem(height, 165);
        }
    }

    .video-name {
        margin: 0 px2rem(18);
        @include ellipsis();
        @include px2px(font-size, 20);
        @include px2rem(line-height, 35);
        text-align: center;
        color: #db8600;
        background: url('#{$imgPath}video-name-bdr.png') repeat-x left bottom;
        @include background-size(auto 2px);
    }

    .video-info {
        display: table;
        width: 100%;
        @include px2rem(height, 94);
        text-align: center;

        .owner-avatar, .owner-info {
            display: table-cell;
            vertical-align: middle;
            table-layout: fixed;
        }

        .owner-avatar {
            padding: 0 px2rem(5);
            text-align: left;
            img {
                background-color: #fff;
                @include px2rem(width, 77);
                @include px2rem(height, 77);
                border: px2rem(3) solid #fff269;
                vertical-align: middle;
            }
        }

        .owner-info {
            @include px2rem(width, 135);
            color: #fff;
            @include px2px(font-size, 25);

            p {
                line-height: 1.28;
                margin: 0;
                @include ellipsis();
            }
        }
    }
}
