@import "../../../helpers/mixins";
@import "../../../helpers/variables";

@import "pre-header";

body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container {
    background: url('../../../../images/promotions/824/pre-bg.jpg') no-repeat;
    background-size: 100% auto;
    overflow: auto;
    @media (min-width: $screen-desktop) {
        @include px2rem('max-width', 750);
        margin: 0 auto;
    }
}
