@import "compass";
@import "../../../helpers/mixins";
@import "../../../helpers/functions";
@import "../../../helpers/variables";

@import "pre-header";
@import "changing";

body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container {
    overflow: auto;
    @media (min-width: $screen-desktop) {
        @include px2rem('max-width', 750);
        margin: 0 auto;
    }
}
.bg-content {
    overflow: auto;
    background: #ff7683 url('../../../../images/promotions/824/pre-bg2.jpg') no-repeat;
    @include background-size();
}
