@import "compass";
@import "../../../helpers/mixins";
@import "../../../helpers/functions";
@import "../../../helpers/variables";

$imgPath: '../../../../images/promotions/824/';

@import "pre-header";
@import "changing";
@import "video";
@import "goods";


body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container {
    @media (min-width: $screen-desktop) {
        @include px2rem('max-width', 750);
        margin: 0 auto;
    }
}
.bg-content {
    background: #ff7683 url('#{$imgPath}pre-bg2.jpg') no-repeat;
    @include background-size();
}

$h-space: px2rem(20);

.m-changing {
    margin: 0 $h-space px2rem(54);
}

.m-video {
    margin: 0 $h-space px2rem(58);
}

.m-goods {
    margin: 0 $h-space px2rem(50);
}