span.count-down
    .module
        span.number 0
        span.number 0
        br
        span.unit 天
    .module
        span.sign -
    .module
        span.number 0
        span.number 0
        br
        span.unit 小时
    .module
        span.sign :
    .module
        span.number 0
        span.number 0
        br
        span.unit 分钟
