extends ../../../helper/base

block head-content
    title Loading...
    - var cssPath = "/public/css/pages/promotions/824/"
    link(rel="stylesheet", href= cssPath + "pre.css")

block body-script
    script(data-main="/public/scripts/entry/mobile/main" src="/public/scripts/lib/require.js")

block am-analytics
    script(type='text/javascript').
        window._am_analytics_baidu_id = '7794a2b94a5f47f4335ed24cc4ebb1a7';

block body-content
    .container.pre
        - var imgPath = "/public/images/promotions/824/"
        header
            include ../../../partial/promotions/824/header
        section.m-changing
            include ../../../partial/promotions/824/changing
        section
        section



